@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;500&display=swap');

html {
  margin: 0;
  padding: 0;
  max-width: 100%;

  background: #ff0055;
  background-size: cover;
  font-family: 'Antonio';
  font-size: .5rem;
    
}

body {
  display: flex;
  margin: 10rem 20rem 20rem 20rem;
  padding: -5rem;
  opacity: 90%;

  align-items: center;
  justify-content: center;
}

#title {
  margin: 5rem 0rem -6rem 40rem;
  padding-bottom: 1rem;
  width: 50rem;
  text-align-last: center;
  justify-content: center;

  -ms-perspective-origin-x: 83%;
  -ms-perspective-origin-y: 0%;

  transform: skew(30deg, 5deg);
  
  font-size: 5rem;

  color: #ffffff;
  text-transform: uppercase;

  text-shadow: 3px 2px 1px  #00aeff;
  opacity: 75%;
    
}

div {
  border: hidden;
  border-radius: 10px;
}

.keys {
  display: inline-flex;
  flex: 1;

  width: 102.4rem;
  min-height: 30vh;
  
  padding-left: 16rem;
  padding-right: 16rem;

  -ms-perspective-origin-x: 83%;
  -ms-perspective-origin-y: 0%;
  transform: rotate(5deg);

  align-items: center;
  justify-content: center;

  background-color: #b1003b;
  border: #1a1a1a;
  border-style: none;
  border-width: 0px;
  }

.key {
  margin-right: 2.4rem;
  margin-top: 10rem;
  min-width: 22px;
  min-height: 5rem;
  padding: 9rem .6rem .5rem .5rem;

  text-align: center;
  transition: all .09s ease;
    
  color: #000000;
  background: #ffffff;
  border: .4rem none #000000;
  border-radius: 3px;
  opacity: 80%;
}
  
.playing {
  transform: scale(.98);
  color:#ffffff;
  background-color: #00aeff #b1003b;
  background-blend-mode: overlay;
  box-shadow: 0 0 1rem #00aeff;
  opacity: 60%;
}
  
kbd {
  display: block;
  font-family: 'Antonio';
  font-size: 3rem;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #b1003b;
}
  
.sound {
  font-size: 0rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #00aeff;
}

.key-bottom {
  margin: 1rem 1rem -1rem -.4rem;
  width: 5.6rem;
  min-height: 5px;
  transform: skew(40deg, 0deg);
    
  background-color: #006999;
  opacity: 90%;
}

.key-side {
  margin: 16.5rem 1rem 6rem -2.5rem;
  min-width: .7rem;
  min-height: 15rem;
  transform: skew(0deg, 45deg);
    
  background-color: #00aeff;
  opacity: 60%;
}

#piano-bottom {
  margin: -.3rem 0 0 1.5rem;
  min-height: 25px;
  width: 134rem;
  transform: skew(60deg, 5deg);
  
  border-radius: 5px;
  background-color: #007bb4;
  opacity: 90%;
}

#piano-side {
  margin: 21rem 0 -12.3rem -1.5rem;
  min-width: 5.4rem;
  min-height: 36.5rem;
  transform: skew(-5deg, 31deg);
    
  
  border-radius: 5px;
  background-color: #00aeff;
  opacity: 75%;
}
  